@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

@layer components {
  .container {
    @apply w-[1200] mx-auto px-14 min-h-screen flex flex-col justify-between;
  }
}
