@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Градієнт для бордеру */
.border-gradient:before {
  content: "";
  position: absolute;
  top: -2px; /* Виберіть потрібний відступ для верхнього бордеру */
  left: 0;
  right: 0;
  height: 2px; /* Ширина верхнього бордеру */
  background: linear-gradient(
    to right,
    #3e6259 0%,
    #fdd901 100%
  ); /* Градієнт */
}

.border-gradient:after {
  content: "";
  position: absolute;
  bottom: -2px; /* Виберіть потрібний відступ для нижнього бордеру */
  left: 0;
  right: 0;
  height: 2px; /* Ширина нижнього бордеру */
  background: linear-gradient(
    to right,
    #3e6259 0%,
    #fdd901 100%
  ); /* Градієнт */
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
