.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input[type="number"] {
  -moz-appearance: textfield;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("/icons/selectarrow.svg");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 62px center;
  padding-right: 24px;
  padding-left: 6px;
  box-shadow: 0px 4px 4px 0px #00000040 inset;
}

.shadow {
  box-shadow: 0px 4px 4px 0px #00000040 inset;
}
